
<h2 class="test">{{ title }}</h2>

<div *ngFor="let student of studentsList;let i =index" class="container">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title>{{student.name}}</mat-card-title>
      <mat-card-subtitle>{{student.classInfo}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <p>{{student.rollNumber}}</p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="clickMe(student.id)">Delete</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
</div>
<div>
  <div>
    Name: <input type="text" id="name"> <br><br>
    Gen : <input type="radio" name="gender" value="M">Male <input type="radio" value="F" name="gender">Female <br><br>
    Roll : <input type="text" id="roll"> <br><br>
    Info : <input type="text" id="info"> <br><br>
    <button mat-button (click)="disp()">ADD</button>
  </div>
  </div>

